$white-100: #fff;
$white-200: #fff;
$white-300: #fff;
$white-400: #fff;
$white-500: #fff;
$white-600: #fff;
$white-700: #d9d9d9;
$white-800: #b0b0b0;
$white-900: #8c8c8c;

$black-100: #eee;
$black-200: #d6d6d6;
$black-300: #b2b2b2;
$black-400: #888;
$black-500: #575757;
$black-600: #222;
$black-700: #1c1c1c;
$black-800: #171717;
$black-900: #121212;

$navy-100: #ebeef0;
$navy-200: #cfd5db;
$navy-300: #a6b1bc;
$navy-400: #758698;
$navy-500: #3d556d;
$navy-600: #001f3f;
$navy-700: #001a35;
$navy-800: #00152b;
$navy-900: #012;

$blue-100: #ebf5fd;
$blue-200: #cfe5f8;
$blue-300: #a6cff2;
$blue-400: #75b4eb;
$blue-500: #3d96e3;
$blue-600: #0074d9;
$blue-700: #0062b8;
$blue-800: #005095;
$blue-900: #003f77;

$cyan-100: #f5fdff;
$cyan-200: #e7f9ff;
$cyan-300: #d3f3ff;
$cyan-400: #baecff;
$cyan-500: #9ee4ff;
$cyan-600: #7fdbff;
$cyan-700: #6cbad9;
$cyan-800: #5797b0;
$cyan-900: #45788c;

$teal-100: #f0fbfb;
$teal-200: #daf6f6;
$teal-300: #baeeee;
$teal-400: #94e4e4;
$teal-500: #69d9d9;
$teal-600: #39cccc;
$teal-700: #30adad;
$teal-800: #278c8c;
$teal-900: #1f7070;

$olive-100: #001f3f;
$olive-200: #001f3f;
$olive-300: #001f3f;
$olive-400: #001f3f;
$olive-500: #001f3f;
$olive-600: #001f3f;
$olive-700: #001f3f;
$olive-800: #001f3f;
$olive-900: #001f3f;

$green-100: #001f3f;
$green-200: #001f3f;
$green-300: #001f3f;
$green-400: #001f3f;
$green-500: #001f3f;
$green-600: #001f3f;
$green-700: #001f3f;
$green-800: #001f3f;
$green-900: #001f3f;

$lime-100: #001f3f;
$lime-200: #001f3f;
$lime-300: #001f3f;
$lime-400: #001f3f;
$lime-500: #001f3f;
$lime-600: #001f3f;
$lime-700: #001f3f;
$lime-800: #001f3f;
$lime-900: #001f3f;

$yellow-100: #001f3f;
$yellow-200: #001f3f;
$yellow-300: #001f3f;
$yellow-400: #001f3f;
$yellow-500: #001f3f;
$yellow-600: #001f3f;
$yellow-700: #001f3f;
$yellow-800: #001f3f;
$yellow-900: #001f3f;

$gold-100: #001f3f;
$gold-200: #001f3f;
$gold-300: #001f3f;
$gold-400: #001f3f;
$gold-500: #001f3f;
$gold-600: #001f3f;
$gold-700: #001f3f;
$gold-800: #001f3f;
$gold-900: #001f3f;

$orange-100: #001f3f;
$orange-200: #001f3f;
$orange-300: #001f3f;
$orange-400: #001f3f;
$orange-500: #001f3f;
$orange-600: #001f3f;
$orange-700: #001f3f;
$orange-800: #001f3f;
$orange-900: #001f3f;

$deep-orange-100: #001f3f;
$deep-orange-200: #001f3f;
$deep-orange-300: #001f3f;
$deep-orange-400: #001f3f;
$deep-orange-500: #001f3f;
$deep-orange-600: #001f3f;
$deep-orange-700: #001f3f;
$deep-orange-800: #001f3f;
$deep-orange-900: #001f3f;

$red-100: #001f3f;
$red-200: #001f3f;
$red-300: #001f3f;
$red-400: #001f3f;
$red-500: #001f3f;
$red-600: #001f3f;
$red-700: #001f3f;
$red-800: #001f3f;
$red-900: #001f3f;

$pink-100: #001f3f;
$pink-200: #001f3f;
$pink-300: #001f3f;
$pink-400: #001f3f;
$pink-500: #001f3f;
$pink-600: #001f3f;
$pink-700: #001f3f;
$pink-800: #001f3f;
$pink-900: #001f3f;

$brown-100: #001f3f;
$brown-200: #001f3f;
$brown-300: #001f3f;
$brown-400: #001f3f;
$brown-500: #001f3f;
$brown-600: #001f3f;
$brown-700: #001f3f;
$brown-800: #001f3f;
$brown-900: #001f3f;

$maroon-100: #001f3f;
$maroon-200: #001f3f;
$maroon-300: #001f3f;
$maroon-400: #001f3f;
$maroon-500: #001f3f;
$maroon-600: #001f3f;
$maroon-700: #001f3f;
$maroon-800: #001f3f;
$maroon-900: #001f3f;

$magenta-100: #001f3f;
$magenta-200: #001f3f;
$magenta-300: #001f3f;
$magenta-400: #001f3f;
$magenta-500: #001f3f;
$magenta-600: #001f3f;
$magenta-700: #001f3f;
$magenta-800: #001f3f;
$magenta-900: #001f3f;

$purple-100: #001f3f;
$purple-200: #001f3f;
$purple-300: #001f3f;
$purple-400: #001f3f;
$purple-500: #001f3f;
$purple-600: #001f3f;
$purple-700: #001f3f;
$purple-800: #001f3f;
$purple-900: #001f3f;

$indigo-100: #001f3f;
$indigo-200: #001f3f;
$indigo-300: #001f3f;
$indigo-400: #001f3f;
$indigo-500: #001f3f;
$indigo-600: #001f3f;
$indigo-700: #001f3f;
$indigo-800: #001f3f;
$indigo-900: #001f3f;

$gray-100: #001f3f;
$gray-200: #001f3f;
$gray-300: #001f3f;
$gray-400: #001f3f;
$gray-500: #001f3f;
$gray-600: #001f3f;
$gray-700: #001f3f;
$gray-800: #001f3f;
$gray-900: #001f3f;

$cool-gray-100: #001f3f;
$cool-gray-200: #001f3f;
$cool-gray-300: #001f3f;
$cool-gray-400: #001f3f;
$cool-gray-500: #001f3f;
$cool-gray-600: #001f3f;
$cool-gray-700: #001f3f;
$cool-gray-800: #001f3f;
$cool-gray-900: #001f3f;
